* {
  margin: 0;
  padding: 0;
  font-family: "Agdasima", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(50, 14, 182), rgb(73, 7, 128));
  padding: 20px;
}
.container-2 {
  width: 50%;
  max-width: 500px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 40px;
}
.container-2 h2 {
  color: black;
  margin-bottom: 20px;
}
.container-2 img {
  height: auto;
  width: 25px;
  margin-left: 8px;
}
.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
  border-radius: 40px;
  background-color: rgb(221, 213, 213);
  height: 50px;
  font-weight: bolder;
}
input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: larger;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(189, 60, 13);
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 16px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(img/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(img/images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  line-height: 40px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 75%;
  font-size: 22px;
  color: #555;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  -ms-border-radius: 75%;
  -o-border-radius: 75%;
}
ul li span:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
